/* Ant Design */
@import '~antd/dist/antd.css';

/* basic */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #333;
	text-align: left;
	overflow-y: auto;
	min-width: 320px;
	cursor: default;
}
