/* Ant Design */
@import '~antd/dist/antd.css';

/* basic */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #333;
	text-align: left;
	overflow-y: auto;
	min-width: 320px;
	cursor: default;
}

/* Ant Design fixex */

.ant-form-item {
	margin-bottom: 20px;
}
.ant-form-item-required {
	font-size: 15px !important;
}
.ant-form-item-with-help {
	margin-bottom: 1px;
}
.ant-form-explain {
	margin-top: 0;
	text-align: right;
}
