/* app */

.app {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 992px) {
	.app {
		overflow-y: scroll;
	}
}

/* vertical equalizer */

.app-vertical_equalizer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.app-vertical_equalizer-table {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table;
}
.app-vertical_equalizer-table-cell {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

/* app main sidebar */

.app-main-sidebar {
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	background: #f4f5f7;
	z-index: 3000;
	transition: 0.2s;
}
.app-main-sidebar-panel {
  display: inline-block;
  vertical-align: top;
  width: 64px;
  height: 100%;
  background: #191f24;
	color: #fff;
}
.app-main-sidebar-panel-header {
  height: 100px;
  padding: 35px 10px 25px;
}
.app-main-sidebar-panel-header-user-avatar {
  width: 44px;
  height: 44px;
  background: rgba(255,255,255,0.10);
  border-radius: 100%;
}
.app-main-sidebar-panel-header-user-avatar svg {
  width: 24px;
  height: 24px;
  margin: 9px;
}
.app-main-sidebar-panel-menu-item {
  display: block;
  font-size: 14px;
  margin: 0 10px;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.app-main-sidebar-panel-menu-item:hover {
  background-color: rgba(0,0,0,0.2);
}
.app-main-sidebar-panel-menu-item-icon {
  width: 44px;
  height: 44px;
}
.app-main-sidebar-panel-menu-item-icon svg {
  margin: 13px;
  width: 18px;
  height: 18px;
  fill: #fff;
}

.app-main-sidebar-nav {
  display: inline-block;
  vertical-align: top;
  width: 236px;
  height: 100%;
  background: #f4f5f7;
  overflow-y: auto;
}
.app-main-sidebar-nav-header {
  height: 100px;
  padding: 35px 20px 15px;
}
.app-main-sidebar-nav-header-avatar {
  width: 40px;
  height: 40px;
  background: #ccc;
  border-radius: 5px;
  float: left;
}
.app-main-sidebar-nav-header-title {
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  height: 40px;
  font-size: 18px;
  margin-left: 12px;
  font-weight: 600;
  color: #555;
}
.app-main-sidebar-nav-menu-item {
  font-size: 14px;
  height: 44px;
  padding: 0 20px;
  display: block;
}
.app-main-sidebar-nav-menu-item.active {
  background: rgba(0,0,0,0.03) !important;
}
.app-main-sidebar-nav-menu-item:hover {
  background: rgba(0,0,0,0.01);
}
.app-main-sidebar-nav-menu-item-icon {
  display: inline-block;
  vertical-align: top;
  width: 44px;
  height: 44px;
}
.app-main-sidebar-nav-menu-item-icon svg {
  margin: 13px;
  width: 18px;
  height: 18px;
  fill: #777;
}
.app-main-sidebar-nav-menu-item.active .app-main-sidebar-nav-menu-item-icon svg {
  fill: #333;
}
.app-main-sidebar-nav-menu-item-text {
  display: inline-block;
  vertical-align: top;
  line-height: 44px;
  margin-left: 12px;
  color: #666;
}
.app-main-sidebar-nav-menu-item.active .app-main-sidebar-nav-menu-item-text {
  color: #333;
}

.app-main-sidebar-nav-mobile_btn {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 18px;
}
.app-main-sidebar-nav-mobile_menu {
  width: 240px;
  margin: 0 -16px;
}

/* app main view */

.app-main-view {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 300px;
	background: #fff;
	z-index: 2500;
	overflow-y: scroll;
}

.app-main-view-area {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 45px;
}

.app-main-view-header {
	height: 100px;
  padding: 35px 0 25px;
}
.app-main-view-header-title {
	display: inline-block;
  vertical-align: top;
  line-height: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  color: #555;
}
.app-main-view-header-title-counter {
  display: inline-block;
  margin-left: 7.5px;
  font-size: 16px;
  line-height: 40px;
  color: #ccc;
  font-weight: 400;
}
.app-main-view-header-controls {
	display: inline-block;
  vertical-align: top;
  float: right;
  padding: 4px 0;
}
.app-main-view-header-control {
	margin-left: 15px;
  display: inline-block;
  vertical-align: top;
}

.app-main-view-tabs {
  margin: 0 0 45px;
}
.app-main-view-tab-content {
  max-width: 1200px;
  min-height: 100px;
  padding: 25px 0;
}

.app-main-view-collapse-panel-content {
  padding: 2.5px 5px 10px;
}

.app-main-view-content {
	padding: 45px 0;
  border-top: solid 1px #e8e8e8;
  min-height: 100px;
}
.app-main-view-content-item {
	position: relative;
}
.app-main-view-content-item:not(:last-child) {
	margin-bottom: 25px;
}
.app-main-view-content-block {
	border: solid 1px #d9d9d9;
	border-radius: 5px;
	padding: 15px 20px;
}
.app-main-view-content-item-col {
	font-size: 15px;
	line-height: 25px;
}
.app-main-view-content-item-col span {
	color: #999;
}
.app-main-view-content-item-col:nth-child(4) {
	text-align: right;
}
.app-main-view-content-item-btns {
	text-align: right;
	width: 25%;
	position: absolute;
	top: 17.5px;
	right: 17.5px;
}
.app-main-view-content-item-btn {
	margin-left: 12px;
}

@media only screen and (max-width: 992px) {

  .app-main-sidebar {
    position: relative;
    width: 100%;
  }

  .app-main-sidebar-panel {
    position: relative;
    width: 100%;
  }
  .app-main-sidebar-panel-header {
    display: inline-block;
    vertical-align: top;
    height: auto;
    padding: 7.5px 7.5px 7.5px 20px;
  }
  .app-main-sidebar-panel-header-user-avatar {
    width: 36px;
    height: 36px;
  }
  .app-main-sidebar-panel-header-user-avatar svg {
    margin: 5px;
  }
  .app-main-sidebar-panel-menu {
    display: inline-block;
    vertical-align: top;
    float: right;
    padding: 7.5px 20px 7.5px 7.5px;
  }
  .app-main-sidebar-panel-menu-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 0;
    width: 36px;
    height: 36px;
  }
  .app-main-sidebar-panel-menu-item-icon {
    width: 36px;
    height: 36px;
  }
  .app-main-sidebar-panel-menu-item-icon svg {
    margin: 9px;
  }

  .app-main-sidebar-nav {
    width: 100%;
    height: auto;
  }
  .app-main-sidebar-nav-header {
    height: auto;
    padding: 10px 20px;
  }
  .app-main-sidebar-nav-header-title {
    margin-left: 0;
  }
  .app-main-sidebar-nav-menu {
    display: none;
  }

  .app-main-sidebar-nav-mobile_btn {
    display: block;
  }

  .app-main-view {
    position: relative;
    left: 0;
    overflow-y: auto;
  }
  .app-main-view-area {
    padding: 0 20px;
  }
  .app-main-view-header {
    padding: 20px 0 25px;
    height: 100%;
  }
  .app-main-view-header-title {
    width: 100%;
  }
  .app-main-view-header-controls {
    float: none;
    padding: 0;
    margin-top: 10px;
  }
  .app-main-view-header-controls {
    margin-bottom: -5px;
  }
  .app-main-view-header-control {
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 15px;
  }
  .app-main-view-header-control.search {
    display: none;
  }
  .app-main-view-content {
    padding: 35px 0 20px;
  }

}

/* app auth */

.app-auth {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f4f5f7;
  overflow-y: scroll;
}
.app-auth-box {
  position: relative;
  background: #fff;
  border-radius: 8px;
  max-width: 420px;
  margin: 50px auto;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.15);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.15);
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  padding: 40px 40px 45px;
}
.app-auth-box-title {
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  border-bottom: solid 1px #e0e3ea;
  margin-bottom: 25px;
  padding-bottom: 20px;
  user-select: none;
}
.app-auth-box-title-link {
  float: right;
  font-size: 14px;
}

@media only screen and (max-width: 992px) {
  .app-auth {
    padding: 25px;
    overflow-y: visible;
  }
  .app-auth-box {
    margin: 0 auto;
    padding: 30px 30px 35px;
  }
}

/* app form */

.app-form.filter {
  padding: 15px 10px;
}
.app-form-col {
  margin-bottom: 15px;
}
.app-form-row:last-child .app-form-col {
  margin-bottom: 0;
}
.app-form-fields-divider {
  margin-top: 7.5px;
}
.app-form-field {
  max-width: 400px;
}
.app-form.filter .app-form-field {
  margin-bottom: 10px;
}
.app-form-agreement {
  padding-top: 10px;
}
.app-form-btns {
  padding-top: 32px;
  margin-bottom: -20px;
}
.app-form.filter .app-form-btns {
  padding-top: 20px;
}
.app-form-btn {
  margin: 0 20px 20px 0;
}
.app-form-links {
  padding-top: 30px;
  margin-bottom: -7px;
}
.app-form-link {
  color: #999;
  line-height: 24px;
}
.app-form-link:hover {
  color: #aaa;
}

/* app list */
.app-list-item-tags {
  margin: 10px 0 -7.5px;
}
.app-list-item-tags .ant-tag {
  margin: 0 10px 10px 0;
}

/* components */

/* InformationView */

.app-information h2 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #444;
}
.app-information p {
  font-size: 15px;
  line-height: 35px;
  max-width: 800px;
}

/* BuildView */

.app-build-list {
  margin-bottom: 25px;
}
.app-build-list:last-child {
  margin-bottom: 0;
}

/* EditLeadDrawer */

.app-editLead-tabs {
  margin-top: -15px;
}
.app-editLead-tab {
  padding-top: 15px;
}
.app-editLead-list {
  margin-top: -5px;
}
