/* Ant Design */
@import '~antd/dist/antd.css';

/* basic */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #333;
	text-align: left;
	overflow-y: auto;
	min-width: 320px;
	cursor: default;
}

/* scroll */

@media only screen and (min-width: 992px) {

	::-webkit-scrollbar-track
	{
		width: 6px;
		height: 6px;
		background: #e8e8e8;
	}
	::-webkit-scrollbar
	{
		width: 6px;
		height: 6px;
	}
	::-webkit-scrollbar-thumb
	{
		width: 6px;
		height: 6px;
		background-color: #b5b5c5;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #a3a3ad;
	}

}

/* Ant Design fixex */

.ant-modal-wrap {
	overflow-y: scroll;
}
.ant-modal-title, .ant-modal-confirm-body .ant-modal-confirm-title {
	font-weight: 600;
}
.ant-modal-body {
	padding-bottom: 40px;
}

.ant-form-item {
	margin-bottom: 18px;
}
.ant-form-item:last-child {
	margin-bottom: 0;
}
.ant-form-item-required {
	font-size: 15px !important;
}
.ant-form-item-with-help {
	margin-bottom: -1px;
}
.ant-form-item-with-help:last-child {
	margin-bottom: -19px;
}

.ant-form-explain {
	margin-top: 0;
}

.ant-list-item-meta-avatar {
	margin-top: 4px;
}

@media only screen and (max-width: 576px) {

	.ant-list-item-meta {
		width: 100%;
	}
	.ant-list-item-action {
		text-align: right;
		width: 100%;
		margin: 15px 0 5px;
	}

}
